/* CSS RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

div.nav {
  position: static;
}

body{

    height: 100vh;
    background: url(/img/ceklafarm.jpg) no-repeat center fixed;
    background-size: cover;
}

body.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile-card {
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  }

  .head, .links {
    text-align: center;
  }

  .head, .content {
    width: 90%;
    margin: 0 auto;
  }

  img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      padding: 1px;
      background-color: #666;
      transition: all 0.5s ease-in-out;
      filter: grayscale(50%);
  }

  .profile-image {
    margin-top: -60px;
    
  }

  img:hover {
    transform: scale(1.1);
    filter: grayscale(20%);
  }

  ul {
    list-style-type: none;
  }

p {
    font-size: 18px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.content {
    margin-top: 15px;
}

.links {
    font-weight: 800;
}

.image {
  padding: 20px;
}